@media screen and (min-width: 576px) {
    * {
        box-sizing: border-box;
    }
    
}

@media screen  and (max-width: 576px) {
    #movingin {
        text-align: center;
        
    }
    
}

@media screen  and (max-width: 576px) {
    #let {
        text-align: center;
        
    }
    
}